@import url(https://fonts.googleapis.com/css?family=Megrim|Yanone+Kaffeesatz|Yanone+Kaffeesatz:wght@300|Hind);
/* https://coolors.co/fbfbff-020300-24397f-6666a3-0fa3b1 */
/* https://coolors.co/fbfbff-e7e9f6-020300-00005e-972164-6666a3-0fa3b1 */






/* DEFINE BASE COLORS AS VARIABLES */
:root {
	--drkblue: #41099E;
	--lgtblue: #763EE9;
	/*--main: #00005E;*/
	--secondary: #6666A3;
	--gry: #E7E9F6;
	--accnt1: #972164;
	--accnt2: #0FA3B1;
}






/* BASIC ELEMENT DEFINITIONS */
body {
	background-color: white;
	color: black;
	margin: 0;
}

body#graybody {
	background-color: var(--gry);
}

h1 {
	text-align: center;
	font-family: 'Megrim', sans-serif;
	text-transform: uppercase;
	font-size: 54px;
	color: white;
	margin: auto;
	padding: 12px;
}

h2 {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 32px;
	color: white;
	margin: auto;
}

p {
	font-size: 18px;
	text-align: left;
        font-family: 'Hind', sans-serif;
        color: black;
	margin: 0;
}

p.white-text {
	font-size: 18px;
	text-align: center;
	font-family: 'Hind', sans-serif;
	color: white;
}


/* FIGURES */
figure {
	display: inline-block;
	margin: 32px;
}

figure img {
	vertical-align: top;
}

figcaption {
        font-size: 16px;
        text-align: left;
        font-family: 'Hind', sans-serif;
	font-style: italic;
	color: black;
        margin: 0;
	margin-top: 8px;
}

/* LISTS */
ul {
	margin-top: 0px;
	margin-bottom: 12px;
	font-size: 18px;
	text-align: left;
	font-family: 'Hind', sans-serif;
	color: black;
}

mark {
	color: inherit;
	background-color: var(--gry);
}

a {
	font-size: 18px;
        text-align: left;
        font-family: 'Hind', sans-serif;
        color: black;
	text-decoration: none;
	transition: 0.4s;
}








/* VERTICAL MAIN PAGE SECTIONS FOR INDEX PAGE */

section.page-section {
	height: 100vh;
	width: 100%;
	margin: 0;
}

#about {
}

#research {
}

#cv {
}

#contact {
	background-image: url('images/starfield.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
	background-size: cover;
        background-position: center;
	display: flex;
}







/* INTRO SECTION ON INDEX PAGE */
section#intro {
	height: 100vh;
	background-image: url('images/starfield.png');
	background-attachment: fixed;
	background-size: cover;
        background-position: center;
	display: flex;
}
div#introtext {
	margin: auto;
}
.fixed {
	position: fixed;
	text-align: center;
	width: 100%;
	top: 45vh;
}






/* INDEX PAGE HORIZONTAL DIVS - SPLIT HAPGE IN HALF */
div.leftside {
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0px;
	display: flex;
}

div.rightside {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0px;
}

#aboutleft {
	background-color: #3d3560;
}

#aboutright {
	background-color: white;
}

#researchleft {
	background-color: #0e0f3b;
}

#cvleft {
	background-color: #3d3560;
}

#cvright {
	background-color: white;
}
#cvright a:hover {
	opacity: 50%;
	transition: 0.4s;
}








/* SUB-DIV FOR ABOUT AND CV SECTIONS */
div.subright {
	padding: 100px;
}








/* SPLIT RESEARCH SECTION INTO 3 DIVS FOR RESEARCH PROJECTS */

#ri-sun {
	background-image: url('images/aia335.jpeg');
}
#ri-binary {
	background-image: url('images/binary.jpg');
}
#ri-galaxy {
	background-image: url('images/cosmos.jpeg');
}

.ri-wrapper {
	height: 33.3333334%;
	width: 100%;
	position: relative;
}
.ri-background {
	background-size: 100%;
        background-position: center;
        filter: brightness(50%);
        transition: 0.4s;
	width: 100%;
	height: 100%;
}
.ri-background:hover {
	filter: brightness(100%);
        background-size: 104%;
        transition: 0.4s;
}
.ri-foreground {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}








/* BUTTONS */
a.button {
	background-color: white;
	border: 2px solid var(--gry);
	border-radius: 4px;
	color: black;
	padding: 15px 32px;
	font-family: 'Hind', sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	transition: 0.4s;
}
a.button:hover {
	background-color: var(--gry);
	transition: 0.4s;
}
a.button-inverse {
	background-color: var(--gry);
	border: 2px solid white;
	border-radius: 4px;
	color: black;
	padding: 15px 32px;
	font-family: 'Hind', sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	transition: 0.4s;
}
a.button-inverse:hover {
	background-color: white;
	transition: 0.4s;
}







/* CONTACT ME SECTION AT BOTTOM OF INDEX PAGE */
div#contact-div {
	margin: auto;	
	display: flex;
	flex-direction: column;
}

#contact a {
	color: white;
	text-decoration: none;
	transition: 0.4s;
}
#contact a:hover {
	opacity: 70%;
	transition: 0.4s;
}


/* CONTACT LINKS FONTAWESOME CUSTOMIZATION */
span#iconlist{
	color: white;
	margin: auto;
}
.fa, .far, .fab, .ai {
	color: white;
	font-size: 30px;
	padding: 16px 8px;
	text-align: center;
	text-decoration: none;
	transition: 0.4s;
}
.ai {
	font-size: 34px;
}
.fa:hover, .far:hover, .fab:hover, .ai:hover {
	opacity: 70%;
	transition: 0.4s;
}








/* CONTENT BOX FOR CV, RESEARCH PAGES */
div.contentbox-container {
	max-width: 1024px;
	width: 100%;
	margin: auto;
}
div.contentbox {
	margin: 32px;
	padding: 32px;
	background-color: white;
}
div.contentbox h1 {
	color: black;
	font-size: 32px;
	margin-top: 12px;
	margin-bottom: 8px;
}
div.contentbox h2 {
	color: black;
	font-size: 24px;
	text-align: left;
	margin-bottom: 8px;
}
div.contentbox p {
	margin-bottom: 6px;
}
div.contentbox a {
	transition: 0.4s;
}
div.contentbox a:hover {
	color: black;
	opacity: 50%;
	transition: 0.4s;
}







/* HEADERS FOR RESEARCH PAGES */
#sun-top {
	display: flex;
	background-image: url('images/aia335.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#binary-top {
	display: flex;
	background-image: url('images/binary.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#galaxy-top {
	display: flex;
	background-image: url('images/cosmos.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
